# .env — Variables d'environnement (NE PAS COMMIT SUR GIT !)

# Discord
DISCORD_TOKEN=ton_token_ici
CLIENT_ID=id_application_discord
GUILD_ID=id_de_ton_serveur

# MySQL — AdvancedBan
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=mot_de_passe
MYSQL_DATABASE=advancedban
MYSQL_BAN_TABLE=Punishments

#RCON
RCON_HOST=ip_de_ton_serveur_minecraft
RCON_PORT=25575
RCON_PASSWORD=ton_mot_de_passe_rcon